@import './Constants.scss';

//
// BUTTONS
//

%form-button {
  display: inline-block;
  font-size: $heading--sm;
  border: none;
  border-radius: 4px;
  color: $txt-white;
  width: 90px;
  padding: 0.7em;
  margin-right: 0.2em;
  &:hover {
    background-color: $primary-clr-light;
  }
  &:active {
    background-color: $primary-clr-darker;
  }
}

@mixin nav-button {
  text-decoration: none;
  @include background-font;
  font-size: $heading--sm;
  font-weight: bold;
  padding: .7em;
  margin: 0 1em 0 0;
  width: 120px;
}

@mixin card-button {
  color: $primary-clr ;
  font-size: 1.1em;
  background-color: white;
  padding: .5em;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-bottom: .5em;
}

@mixin favlist-button {
  color: $primary-clr;
  font-size: $heading--sm;
  background-color: white;
  padding: .6em;
  width: 130px;
  border: none;
  border-radius: 3px;
  margin-bottom: 4px;
  &:hover {
    background-color: $primary-clr-lighter;
    color: $txt-white;
  }
  &:active {
    background-color: $primary-clr-light;
    color: $txt-white;
  }
}

//
// HEADINGS AND TEXT
//

%primary-title {
  color: $primary-clr;
  font-size: $heading--md;
  font-weight: bold;
  padding: 5px 5px 5px 0;
  border-bottom: $brdr--primary;
  width: 50%;
  margin-bottom: 10px;
}

%card-title {
  display: inline-block;  
  color: $txt-white ;
  border: 1px solid $txt-white;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 8px;
  margin-top: 5px;
}

%card-text {
  margin-bottom: 5px;
  color: $txt-white;
  font-size: 1.1em;
  line-height: 1.25em;
}

//
// FLEXS
//

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-spc-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-clmn {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-wrap {
  display: flex;
  flex-wrap: wrap;
}

//
// BLOCKS
//

%basic-form {
  display: flex;
  flex-direction: column;  
  text-align: left;
  width: 45%;
  max-width: 600px;
  margin: 0 auto 10px auto;
}

%card-cntr {
  width: 45%;
  max-width: 600px;
  margin: 0 auto 10px auto;
  text-align: left;
}

%clmn-cntr {
  width: 45%;
  min-width: 250px;
  max-width: 600px;
  margin: 0 auto 10px auto;
  text-align: left;
}

%input-cntr {
  @include flex-clmn;
  color: $primary-clr;
  font-size: $heading--sm;
  margin: 10px 0;
}

%row-wrap-cntr {
  @include flex-row-wrap;
  width: 60%;
  margin: 1% auto;
}

@mixin card {
  background-color: $primary-clr;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em; 
  width: 100%;
}

//
// ELEMENTS
//

%primary-input {
  padding: .8em;
  border: $brdr--primary ;
  border-radius: 3px;  
  margin-top: .4em;
  &:focus {
    outline: 2px solid #01a1af
  }
}

%error-label {
  font-size: $notification-sm;
  color: $notification-error;  
  border-bottom: 1px solid $notification-error;
  margin-top: .4em;
}

@mixin card-title {
  display: inline-block;  
  color: $txt-white;
  font-size: $heading--sm;
  border: 1px solid $txt-white;
  border-radius: 5px;
  padding: .5em;
  margin-bottom: .5em;
  margin-top: .5em;
}

@mixin card-txt {
  margin-bottom: .5em;
  color: $txt-white;
  font-size: $heading--sm;
  line-height: 1.25em;
}



//
// THEMES
//

@mixin background-font {
  background-color: $primary-clr;
  color: $txt-white;
}