@import '../../scss/Constants.scss';

.save-bar {
  background-color: $primary-clr-light;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px; 
  width: 100%;
  &:hover {
    background-color: $primary-clr-lighter;
  }
  &:active {
    background-color: $primary-clr;
  }
  &__title {
    display: inline-block;  
    color: $txt-white;
    font-size: $heading--sm;
  }
}