@import '../../scss/Constants.scss';

.analyzer-cntr {
  display: flex;
  justify-content: space-around;
  width: 65%;
  padding: 1em;
  border-top: $brdr--primary;
  border-right: $brdr--primary;
  margin: 2em auto;

}