@import '../../styles/Constants.scss';
@import '../../styles/Extends.scss';

.analyzer-form {
  @extend %basic-form;
  &__title {
    @extend %primary-title;
    @include flex-row;
    img {
      margin: 0 0 0 .5em;
      padding: 0;
      height: 1.2em;
    }
  }
  &__dropdowns {
    @include flex-row;
  }
}