.data-card {
  background-color: #01a1af;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em; 
  width: 100%;
}


.data-card h4 {
  display: inline-block;  
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 8px;
  margin-top: 5px;
}

.data-card p {
  margin-bottom: 5px;
  color: aliceblue;
  font-size: 1.1em;
  line-height: 1.25em;
}

.data-card button {
  color: #01a1af;
  font-size: 1.1em;
  background-color: white;
  padding: 5px;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-bottom: 4px;
}

.data-card button:hover {
  background-color: #01c9db;
}

.data-card button:active {
  background-color: rgba(1, 201, 219, 0.2);
}

.data-card textarea {
  font-size: 1em;
  width: 60%;
  height: 4em;
  padding: .5em;
  margin-right: .5em;
}

.default-cntr {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 2em auto;
}

.default-cntr-list {
  display: flex;
  flex-direction: row;
  flex-basis: inherit;
  width: 60%;
  margin: 2% auto;
}

.form {
  display: flex;
  flex-direction: column;  
  text-align: left;
}

.form-button {
  display: inline-block;
  background-color: #01a1af;
  font-size: 1.1em;
  border: none;
  border-radius: 4px;
  color: aliceblue;
  width: 90px;
  padding: 0.7em;
  margin-right: 0.2em;
}

.form-input {
  padding: 8px;
  border: 1px solid #01a1af;
  border-radius: 3px;  
  margin-top: 5px;
}

.form-input:focus {
  outline: 1px solid #01a1af;
}

.form-input-label {
  color: #01a1af;
  display: flex;
  font-size: 1.1em;
  flex-direction: column;
  margin: 10px 0;
}

.form-input-error {
  display: none;
  font-size: 0.7em;
  color: #fe5e50;  
  border-bottom: 1px solid #fe5e50;
  margin-top: 5px;
}

.form-input-valid {
  display: none;
}

.form-menu-label {
  color: #01a1af;
  display: flex;
  font-size: 1.1em;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #01a1af;
  border-radius: 3px;
  margin: 10px 10px 20px 0;
}

.form-menu-label label {
  padding: 8px;
}

.form-menu-label select {
  padding: 8px;
  color: aliceblue;
  font-size: 0.9em;
  width: 120px;
  text-align: center;
  background-color: #01a1af;
  border: none;
  margin-left: 4px;
}

.form-menu-label select:focus,
.form-menu-label select:hover {
  background-color: #01c9db;
}

.form-title {
  color: #01a1af;
  font-size: 1.6em;
  font-weight: bold;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #01a1af;
  width: 50%;
  margin-bottom: 10px;
}


.form-button:hover,
.header-navbar-button:hover {
  background-color: #01c9db;  
}

.form-button:active,
.header-navbar-button:active {
  background-color: rgba(1, 201, 219, 0.4);  
}


.form,
.dataview-container {
  width: 45%;
  min-width: 250px;
  max-width: 600px;
  margin: 0 auto 10px auto;
}

.dataview-container {
  text-align: left;
}

.dataview-container-favorites {
  height:65vh;
  overflow-y: scroll;
}

.header-navbar-button {
  background-color: #01a1af;
  color: aliceblue;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px;
  margin: 0 12px 0 0;
  width: 120px;
}


.market-data-card {
  background-color: #01a1af;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  text-align: left;
  margin: 1%;
}

.market-data-card h4 {
  display: inline-block;  
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 8px;
  margin-top: 5px;
}

.market-data-card p {
  margin-bottom: 5px;
  color: aliceblue;
  font-size: 1.1em;
  line-height: 1.25em;
}

.market-data-card img {
  width: 40%;
  margin-right: 5%;
}

.market-title {
  color: #01a1af;
  font-size: 1.6em;
  font-weight: bold;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #01a1af;
  width: 20%;
  margin: 0 auto 10px auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


#profile-details {
  height: 210px;
}




