* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
}

button {
  border: none;
}

footer {
  background-color: #01a1af;
  width: 100%;
  padding: 7px;
  margin-top: auto;
  border-top: 10px solid white;
}

h1 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

header {  
  background-color: #01a1af;
  width: 100%;
  margin: 0;
}

footer p {
  margin: 0;
  color: aliceblue;
}

header h1 {
  color: aliceblue;
  padding: 30px 30px 30px 6px;
  margin-left: 15%
}

header h3 {
  color: white;
}

header button, 
header h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 7px;
  margin-right: 15px;
} 

header .login-bar {
  overflow-y: hidden;
  margin: auto 10% 0 0
}

header button {
  border: none;
  color: #01a1af;
  background-color: white;
}

header button:hover {
  color:aliceblue;
  background-color: #01c9db;
}

.data-card {
  background-color: #01a1af;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px; 
  width: 100%;
}

.data-card h4 {
  display: inline-block;  
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 8px;
  margin-top: 5px;
}

.data-card p {
  margin-bottom: 5px;
  color: aliceblue;
  font-size: 1.1em;
  line-height: 1.25em;
}

.data-card-table {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 60%;
  margin: 2% auto;
}

.form {
  display: flex;
  flex-direction: column;  
  text-align: left;
}

.form-button {
  display: inline-block;
  background-color: #01a1af;
  font-size: 1.1em;
  border: none;
  border-radius: 4px;
  color: aliceblue;
  width: 90px;
  padding: 0.7em;
  margin-right: 0.2em;
}

.form-input {
  padding: 8px;
  border: 1px solid #01a1af;
  border-radius: 3px;  
  margin-top: 5px;
}

.form-input:focus {
  outline: 1px solid #01a1af;
}

.form-input-label {
  color: #01a1af;
  display: flex;
  font-size: 1.1em;
  flex-direction: column;
  margin: 10px 0;
}

.form-input-error {
  display: none;
  font-size: 0.7em;
  color: #fe5e50;  
  border-bottom: 1px solid #fe5e50;
  margin-top: 5px;
}

.form-input-valid {
  display: none;
}

.form-menu-label {
  color: #01a1af;
  display: flex;
  font-size: 1.1em;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #01a1af;
  border-radius: 3px;
  margin: 10px 10px 20px 0;
}

.form-menu-label label {
  padding: 8px;
}

.form-menu-label select {
  padding: 8px;
  color: aliceblue;
  font-size: 0.9em;
  width: 120px;
  text-align: center;
  background-color: #01a1af;
  border: none;
  margin-left: 4px;
}

.form-menu-label select:focus,
.form-menu-label select:hover {
  background-color: #01c9db;
}

.form-title {
  color: #01a1af;
  font-size: 1.6em;
  font-weight: bold;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #01a1af;
  width: 50%;
  margin-bottom: 10px;
}

.form-title img {
  margin: 0 0 0 10px;
  padding: 0;
  height: 1.2em;
}

.form-button:hover,
.header-navbar-button:hover {
  background-color: #01c9db;  
}


#error-message-container,
#success-message-container,
#process-message-container {
  width: 30%;
  min-width: 250px;
  margin: 0 auto 10px auto;
}

.form,
.dataview-container {
  width: 45%;
  min-width: 250px;
  max-width: 600px;
  margin: 0 auto 10px auto;
}

.dataview-container {
  text-align: left;  
}

.flex-row-space-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header-navbar {
  margin: 0 0 2% 15%;
  justify-content: start;
}

.header-navbar-button {
  background-color: #01a1af;
  color: aliceblue;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px;
  margin: 0 12px 0 0;
  width: 120px;
}

.loading {
  margin: 20px 0;
  color: #01a1af;
}

.market-data-card {
  background-color: #01a1af;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  text-align: left;
  margin: 1%;
}

.market-data-card h4 {
  display: inline-block;  
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 8px;
  margin-top: 5px;
}

.market-data-card p {
  margin-bottom: 5px;
  color: aliceblue;
  font-size: 1.1em;
  line-height: 1.25em;
}


.market-title {
  color: #01a1af;
  font-size: 1.6em;
  font-weight: bold;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #01a1af;
  width: 20%;
  margin: 0 auto 10px auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#error-message-container,
#success-message-container,
#process-message-container {
  text-align: left;
  display: none
}

#error-message-container h4,
#success-message-container h4,
#process-message-container h4 {
  margin: 0 0 5px 0;
  color: aliceblue;
  padding: 8px;
}

#error-message-container h4 {
  background-color: #fe5e50;
}
#success-message-container h4 {
  background-color: #00b10f;
}
#process-message-container h4 {
  background-color: #01c9db;
}




