//
// COLORS
//

$primary-clr          : #01a1af;
$primary-clr-lighter  : #00b3c4;
$primary-clr-light    : #00c4d6;
$primary-clr-darker   : #008692;
$txt-white            : aliceblue;

//
// HEADINGS
//

$heading--xlg         : 2.5em;
$heading--lg          : 2em;
$heading--md          : 1.5em;
$heading--sm          : 1.1em;

//
// BORDERS
//

$brdr--primary        : 1px solid $primary-clr;